@import "tailwindcss";

@theme {
  --breakpoint-3xl: 120rem;
}

body {
  background-color: #f4f4f4;
  width: 100vw;
  overflow-x: hidden;
}

.tiptap {
  :first-child {
    margin-top: 0;
  }

  ul {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
    list-style: disc;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
    list-style: decimal;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }
}
